[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
databases = {extras = ["mysql"], version = "*"}
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
google-auth = "*"
requests = "*"
google-auth-oauthlib = "*"
starlette = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
